html,
body {
  padding: 0;
  margin: 0;
  background-color: #E7DFDC;
  font-family: 'Indie Flower', cursive;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
  font-size: 12px;
}

html,
body,
#root {
  height: 100%;
  overflow-x: hidden;
}
